# build options
build --color=yes
build --cxxopt='-std=c++17'
build -c dbg # temporary

# build targets
build:all kvstore:server func:server

# test options
test --test_output=all

# test targets
test:all tests:kvstore

# clean options
clean --async
